section.home-hero {
    padding-top: 0;
    padding-bottom: 72px;
}
.home-hero p.head {
    font-size: 18px;
    font-weight: 200;
    line-height: 36px;
    margin: 6px 5px;
    color: #000;
    max-width: 624px;
}
